body {
  margin: 0;
  padding: 0;
  background-color: #1d2634;
  color: #9e9ea4;
  font-family: 'Montserrat', sans-serif;
}

.icon {
  vertical-align: middle;
  line-height: 1px;
  font-size: 20px;
}
.icon_header {
  vertical-align: middle;
  line-height: 1px;
  font-size: 26px;
 
}
.icon, .icon_header {
  margin-right: 5px;
}

.close_icon {
  color: red;
  margin-left: 30px;
  margin-top: 10px;
  cursor: pointer;
}

.grid-container {
  display: grid;
  background-image: url("assets/Dashboard.jpg");
  grid-template-columns: 260px 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas:
    'sidebar header header header'
    'sidebar main main main';
  height: 100vh;
}

/* Header  */
.header {
  grid-area: header;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px 0 30px;
  box-shadow: 0 6px 7px -3px rgba(0, 0, 0, 0.35);
}
.footer{ grid-area: footer;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px 0 30px;
  box-shadow: 0 6px 7px -3px rgba(0, 0, 0, 0.35);}
.menu-icon {
  display: none;
}
/* End Header  */

/* Sidebar  */
#sidebar {
  grid-area: sidebar;
  height: 100%;
  background-color: #15141C;
  overflow-y: auto;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.sidebar-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px 0px 30px;
  margin-bottom: 30px;
}

.sidebar-title > span {
  display: none;
}

.sidebar-brand {
  margin-top: 15px;
  font-size: 20px;
  font-weight: 700;
}

.sidebar-list {
  padding: 0;
  list-style-type: none;
}
.sidebar-list-h {
  padding: 20px 20px 20px 20px;
  font-size: 8px;
}
.sidebar-list-item {
  padding: 20px 20px 20px 20px;
  font-size: 18px;
}

.sidebar-list-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.sidebar-list-item > a {
  text-decoration: none;
  color: #9e9ea4;
  font-size: 15px;
}

.sidebar-responsive {
  display: inline !important;
  position: absolute;
  /*
    we want the z-index of the sidebar higher so that
    the charts are not showing over the sidebar 
    on small screens
  */
  z-index: 12 !important;
}

/* End Sidebar  */


/* Main  */  
.main-container {
  grid-area: main;
  overflow-y: auto;
  padding: 20px 20px;
  color: rgba(255, 255, 255, 0.95);

}
.main-container:first-child {
  /* background-color: #2962ff; */
  background-color:#3387B8 ;
}

.main-title {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}

.main-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin: 15px 0;
 
}
.login{
  display: grid;
 color: #15141C;
  align-items: center;
  border-radius: 15px;
  background-color: #9e9ea4;
  width:200px;
  height: 200px;
  padding: 20px;
  margin: 50px;
}
.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.login-input{
  padding: 10px;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 29px;
  border-radius: 15px;
  width:230px;

}

.card:first-child {
  /* background-color: #2962ff; */
  background-color:#74706B ;
}

.card:nth-child(2) {
  background-color: #928578;
}

.card:nth-child(3) {
  background-color: #77899A;
}


.card-inner {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;

}
.card-inner1 {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  background-color: url('assets/Rectangle\ 1\ .jpg');
}
.card-inner2 {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  background-color: url('assets/Rectangle\ 2\ .jpg');
}
.card-inner3 {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  background-color: url('assets/Rectangle\ 3.jpg');
}
.card-inner > .card_icon {
  font-size: 25px;
  width: 52.85px;
padding-left: 180px;
}

.element {
  width: 300px; /* Adjust the width as needed */
  height: 200px; /* Adjust the height as needed */
  background:
      list-style-type(#ff5733, #ff5733) top, /* Layer 1 - Red */
      linear-gradient(#44b7b8, #44b7b8) bottom; /* Layer 2 - Blue */
  background-size: 100% 50%;
  background-repeat: no-repeat;
}

/* End Main  */


/* Medium <= 992px */
  
@media screen and (max-width: 992px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
      'header'
      'main';
  }
  .hedaer-left-h {
    display: none;
    padding: 2px;
    font-size: 16px;
  }
  .hedaer-left-a {
    display: none;
    padding: 2px;;
    font-size: 12px;
    ;
  }
  #sidebar {
    display: none;
  }

  .menu-icon {
    display: inline;
  }

  .sidebar-title > span {
    display: inline;
  }
}
/* Small <= 768px */
  
@media screen and (max-width: 768px) {
  .main-cards {
    grid-template-columns: 1fr;
    gap: 10px;
    margin-bottom: 0;
  }


}

/* Extra Small <= 576px */

@media screen and (max-width: 576px) {
  .hedaer-left {
    display: none;
    
  }
}
.card-profile {
  width: 360px;
  height: auto;
  background-color: #ffffff;
  margin: 0 auto;
  margin-top: 80px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
}

.card_profile_img {
  width: 120px;
  height: 120px;
  background-color: #868d9b;
  background: url("https://source.unsplash.com/7Sz71zuuW4k");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 2px solid #ffffff;
  border-radius: 120px;
  margin: 0 auto;
  margin-top: -60px;

}

.card_background_img {
  width: 100%;
  height: 180px;
  background-color: #e1e7ed;
  background: url("https://source.unsplash.com/9wg5jCEPBsw");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.user_details p {
  margin-bottom: 20px;
  margin-top: -5px;
}

.user_details h3 {
  margin-top: 10px;
}

.card_count {
  padding: 30px;
  border-top: 1px solid #dde1e7;
}

.count {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 28px;
}

.count p {
  margin-top: -10px;
}

.btn {
  padding: 16px;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 4px;
  background-color: #24c5a1;
  color: #ffffff;
  cursor: pointer;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}
.inbox{box-sizing:boder-box;
  background-color: #9e9ea4;
}
.inbox-container{
  padding: 10px;
  
  margin: 100px;

}
.btn-add{
  background-color: #24c5a1;
  border: none;
  padding: 5px 15px;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
}
.addcontainer{
  position:absolute;
   display: flex;
   justify-content: center;
   align-items: center;
}
.addcontainer-form{
  width: 400px;
  display: flex;
  flex-direction: column;
  padding: 50px 40px;
  
  background-color: rgb(37, 35, 30);
}
.btn-sub{
  background-color: #3387B8;
  color: #dde1e7;
  font-size: 20px;
  margin-top: 10px;
}
.close-btn{
  margin-left: auto;
  font-size: 20px;
  color:white;
  display: flex;
  justify-content: center;
  align-items: center;

}
.btn-edit,.btn-delete{
font-size: 16px;
padding: 5px 10px;
margin: 6px 10px;
}
.btn-edit{
  background-color: #24c5a1;
}
.btn-delete{
  background-color: #868d9b;
}
.tableContainer table thead tr {
  background-color: #f1e5dc;
  margin-top: 50px;

  
}
.tableContainer table thead tr th,.tableContainer table tbody tr td{
  min-width: 120px;
  background-color:white;
padding: 2px;

}
.img {
  background-image: url('./assets/Dashboard.jpg')
}
.bread{
  font-size: 8px;
}
.footer{
 
    grid-area: footer;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px 0 20px;
    margin-top: 150px;
    box-shadow: 0 6px 7px -3px rgba(35,0, 0, 0, 0.);

}